workflows/01-facebook-post.json
{
  "name": "01_BBV_FACEBOOK_POST_AUTOMATION",
  "nodes": [
    {
      "parameters": {},
      "id": "01-facebook-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-1200, -180]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "01-facebook-cron",
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1200, 0]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bbv/facebook-post",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "01-facebook-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1200, 180]
    },
    {
      "parameters": {
        "url": "={{$json.source_url || $env.SOURCE_PRODUCT_API_URL}}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "source_id",
              "value": "={{$json.source_id || ''}}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "01-facebook-fetch",
      "name": "Fetch Source Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-940, 0]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst errors = [];\nfor (const field of ['title', 'description', 'source_id']) {\n  if (!data[field]) errors.push(`${field} là bắt buộc`);\n}\nif (data.price !== undefined && Number(data.price) <= 0) errors.push('price phải dương');\nif (errors.length) throw new Error(`Dữ liệu Facebook không hợp lệ: ${errors.join(', ')}`);\nreturn [{ json: data }];"
      },
      "id": "01-facebook-validate",
      "name": "Validate Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-680, 0]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst price = data.price ? `Giá tham khảo: ${Number(data.price).toLocaleString('vi-VN')} VND` : '';\nconst bullets = [\n  data.category ? `Phù hợp nhóm: ${data.category}` : '',\n  price,\n  'Tư vấn theo trình độ, ngân sách và lối chơi của bạn.'\n].filter(Boolean);\nconst message = [\n  `Bạn đang tìm ${data.title}?`,\n  '',\n  data.description,\n  '',\n  'Điểm đáng chú ý:',\n  ...bullets.map(b => `• ${b}`),\n  '',\n  'Cần BongBanViet tư vấn setup phù hợp? Nhắn tin hoặc xem chi tiết tại link bên dưới.',\n  data.product_url || '',\n  '',\n  '#BongBanViet #BóngBàn #TableTennis #TưVấnBóngBàn'\n].filter(Boolean).join('\\n');\nreturn [{ json: { ...data, facebook_message: message } }];"
      },
      "id": "01-facebook-generate",
      "name": "Generate Facebook Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-420, 0]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n// Sử dụng image_url từ source data.\n// Nếu cần resize/watermark, thay thế bằng URL CDN đã xử lý.\nconst imageUrl = data.image_url || '';\nreturn [{ json: { ...data, prepared_image_url: imageUrl } }];"
      },
      "id": "01-facebook-image",
      "name": "Prepare Image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-160, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{'https://graph.facebook.com/' + ($env.FACEBOOK_GRAPH_VERSION || 'v19.0') + '/' + $env.FACEBOOK_PAGE_ID + ($json.prepared_image_url ? '/photos' : '/feed')}}",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{\n  $json.prepared_image_url\n    ? { url: $json.prepared_image_url, message: $json.facebook_message, access_token: $env.FACEBOOK_PAGE_ACCESS_TOKEN }\n    : { message: $json.facebook_message, access_token: $env.FACEBOOK_PAGE_ACCESS_TOKEN }\n}}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "01-facebook-publish",
      "name": "Publish to Facebook Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [100, 0]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconst data = $('Generate Facebook Content').first().json;\nconst payload = {\n  channel: 'facebook',\n  ok: true,\n  post_id: result.post_id || result.id || '',\n  source_id: data.source_id || '',\n  title: data.title || '',\n  saved_at: new Date().toISOString()\n};\nconst webhook = $env.SOURCE_RESULT_WEBHOOK_URL;\nif (webhook) {\n  const res = await fetch(webhook, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify(payload)\n  });\n  if (!res.ok) console.warn('Result webhook failed', res.status);\n}\nreturn [{ json: { ...payload, notified: !!webhook } }];"
      },
      "id": "01-facebook-save",
      "name": "Save Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [360, 0]
    },
    {
      "parameters": {
        "jsCode": "const error = $execution.error || {};\nconst webhook = $env.SOURCE_RESULT_WEBHOOK_URL;\nconst payload = {\n  channel: 'facebook',\n  ok: false,\n  error: error.message || 'Unknown error',\n  node: error.node?.name || '',\n  time: new Date().toISOString()\n};\nif (webhook) {\n  await fetch(webhook, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify(payload)\n  }).catch(() => {});\n}\nreturn [{ json: payload }];"
      },
      "id": "01-facebook-error",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [360, 220]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Fetch Source Data", "type": "main", "index": 0 }]]
    },
    "Cron Trigger": {
      "main": [[{ "node": "Fetch Source Data", "type": "main", "index": 0 }]]
    },
    "Webhook Trigger": {
      "main": [[{ "node": "Fetch Source Data", "type": "main", "index": 0 }]]
    },
    "Fetch Source Data": {
      "main": [[{ "node": "Validate Data", "type": "main", "index": 0 }]]
    },
    "Validate Data": {
      "main": [[{ "node": "Generate Facebook Content", "type": "main", "index": 0 }]]
    },
    "Generate Facebook Content": {
      "main": [[{ "node": "Prepare Image", "type": "main", "index": 0 }]]
    },
    "Prepare Image": {
      "main": [[{ "node": "Publish to Facebook Page", "type": "main", "index": 0 }]]
    },
    "Publish to Facebook Page": {
      "main": [[{ "node": "Save Result", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": ""
  }
}
