workflows/03-shopee-product-sync.json
{
  "name": "03_BBV_SHOPEE_PRODUCT_SYNC",
  "nodes": [
    {
      "parameters": {},
      "id": "03-shopee-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-1400, -180]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "03-shopee-cron",
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1400, 0]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bbv/shopee-product-sync",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "03-shopee-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1400, 180]
    },
    {
      "parameters": {
        "url": "={{$json.source_url || $env.SOURCE_PRODUCT_API_URL}}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "sku",
              "value": "={{$json.sku || ''}}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "03-shopee-fetch",
      "name": "Fetch Product Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1140, 0]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst product = {\n  name: String(data.name || '').trim().slice(0, 120),\n  description: String(data.description || '').trim(),\n  price: Number(data.price || 0),\n  stock: Math.max(0, Number(data.stock || 0)),\n  sku: String(data.sku || '').trim(),\n  images: Array.isArray(data.images) ? data.images.map(String).filter(Boolean) : [],\n  category: String(data.category || '').trim(),\n  attributes: data.attributes || {},\n  weight: data.weight ? Number(data.weight) : null,\n  dimensions: data.dimensions || {}\n};\nreturn [{ json: product }];"
      },
      "id": "03-shopee-normalize",
      "name": "Normalize Product",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-880, 0]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst errors = [];\nif (!data.name) errors.push('name là bắt buộc');\nif (!data.description) errors.push('description là bắt buộc');\nif (Number(data.price) <= 0) errors.push('price phải dương');\nif (Number(data.stock) < 0) errors.push('stock phải >= 0');\nif (!data.sku) errors.push('sku là bắt buộc');\nif (!Array.isArray(data.images) || data.images.length === 0) errors.push('images cần ít nhất 1 ảnh');\nif (!data.category) errors.push('category là bắt buộc');\nif (errors.length) throw new Error(`Sản phẩm không hợp lệ: ${errors.join(', ')}`);\nreturn [{ json: data }];"
      },
      "id": "03-shopee-validate",
      "name": "Validate Product",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-620, 0]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst product = $input.first().json;\n\nconst sourceId = product.sku || `shopee-${Date.now()}`;\nconst date = new Date().toISOString().slice(0, 10);\nconst safeId = sourceId.replace(/[^a-zA-Z0-9_-]/g, '_').slice(0, 40);\nconst basename = `shopee-${date}-${safeId}`;\nconst outputDir = path.join(process.cwd(), 'output');\nfs.mkdirSync(outputDir, { recursive: true });\n\nconst checklist = [\n  'Vào Shopee Seller Centre → Quản lý sản phẩm → Thêm sản phẩm mới',\n  'Điền tên sản phẩm (item_name) — tối đa 120 ký tự',\n  'Chọn danh mục phù hợp với category_hint',\n  'Upload ảnh từ danh sách images (khuyến nghị 5–9 ảnh)',\n  'Điền mô tả sản phẩm (description)',\n  'Điền giá bán (original_price) theo VND',\n  'Điền tồn kho (stock)',\n  'Điền mã SKU (item_sku)',\n  'Điền cân nặng và kích thước nếu có',\n  'Thiết lập vận chuyển',\n  'Xem lại → Đăng sản phẩm'\n];\n\nconst jsonData = {\n  channel: 'shopee',\n  generated_at: new Date().toISOString(),\n  source_id: sourceId,\n  listing: {\n    item_name: product.name,\n    description: product.description,\n    original_price: product.price,\n    stock: product.stock,\n    item_sku: product.sku,\n    category_hint: product.category,\n    images: product.images,\n    attributes: product.attributes || {},\n    weight: product.weight,\n    dimensions: product.dimensions || {}\n  },\n  checklist\n};\n\nconst attrRows = Object.entries(product.attributes || {}).map(([k, v]) => `| ${k} | ${v} |`).join('\\n') || '| — | — |';\nconst imageList = (product.images || []).map((u, i) => `${i+1}. ${u}`).join('\\n') || '—';\nconst dim = product.dimensions || {};\n\nconst md = [\n  `# Shopee Product Draft — ${date}`,\n  '',\n  '## Thông tin sản phẩm',\n  '',\n  `| Trường | Giá trị |`,\n  `|--------|---------|`,\n  `| SKU | \\`${product.sku}\\` |`,\n  `| Tên | ${product.name} |`,\n  `| Giá (VND) | ${Number(product.price).toLocaleString('vi-VN')} |`,\n  `| Tồn kho | ${product.stock} |`,\n  `| Danh mục gợi ý | ${product.category} |`,\n  `| Cân nặng | ${product.weight ? product.weight + ' gram' : '—'} |`,\n  `| Tạo lúc | ${new Date().toLocaleString('vi-VN')} |`,\n  '',\n  '## Mô tả (copy vào Shopee)',\n  '',\n  '```',\n  product.description,\n  '```',\n  '',\n  '## Ảnh sản phẩm',\n  '',\n  imageList,\n  '',\n  '## Thuộc tính',\n  '',\n  '| Thuộc tính | Giá trị |',\n  '|-----------|---------|',\n  attrRows,\n  '',\n  '## Kích thước',\n  `- Dài: ${dim.length ?? '—'} cm`,\n  `- Rộng: ${dim.width ?? '—'} cm`,\n  `- Cao: ${dim.height ?? '—'} cm`,\n  '',\n  '## Checklist đăng thủ công',\n  '',\n  checklist.map((s, i) => `${i+1}. ${s}`).join('\\n')\n].join('\\n');\n\nfs.writeFileSync(path.join(outputDir, `${basename}.json`), JSON.stringify(jsonData, null, 2));\nfs.writeFileSync(path.join(outputDir, `${basename}.md`), md);\n\nreturn [{ json: { channel: 'shopee', mode: 'draft', source_id: sourceId, sku: product.sku, json_file: `output/${basename}.json`, md_file: `output/${basename}.md`, generated_at: jsonData.generated_at } }];"
      },
      "id": "03-shopee-export-draft",
      "name": "Export Draft File (JSON + Markdown)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-360, 0]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconst webhook = $env.SOURCE_RESULT_WEBHOOK_URL;\nif (webhook) {\n  const res = await fetch(webhook, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify(result)\n  });\n  if (!res.ok) console.warn('Result webhook failed', res.status);\n}\nreturn [{ json: { ...result, notified: !!webhook, saved_at: new Date().toISOString() } }];"
      },
      "id": "03-shopee-save",
      "name": "Save Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-100, 0]
    },
    {
      "parameters": {
        "jsCode": "const error = $execution.error || {};\nconst webhook = $env.SOURCE_RESULT_WEBHOOK_URL;\nconst payload = { channel: 'shopee', ok: false, error: error.message || 'Unknown error', time: new Date().toISOString() };\nif (webhook) {\n  await fetch(webhook, { method: 'POST', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify(payload) }).catch(() => {});\n}\nreturn [{ json: payload }];"
      },
      "id": "03-shopee-error",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-100, 220]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Fetch Product Data", "type": "main", "index": 0 }]]
    },
    "Cron Trigger": {
      "main": [[{ "node": "Fetch Product Data", "type": "main", "index": 0 }]]
    },
    "Webhook Trigger": {
      "main": [[{ "node": "Fetch Product Data", "type": "main", "index": 0 }]]
    },
    "Fetch Product Data": {
      "main": [[{ "node": "Normalize Product", "type": "main", "index": 0 }]]
    },
    "Normalize Product": {
      "main": [[{ "node": "Validate Product", "type": "main", "index": 0 }]]
    },
    "Validate Product": {
      "main": [[{ "node": "Export Draft File (JSON + Markdown)", "type": "main", "index": 0 }]]
    },
    "Export Draft File (JSON + Markdown)": {
      "main": [[{ "node": "Save Result", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": ""
  }
}
